---
import { SITE_TITLE } from "@/consts";

const today = new Date();
---

<div class="h-28 overflow-hidden">

</div>
<section
  id="footer"
  class="w-full grid relative place-items-center text-center py-4 bg-[#dfe6e9]/[0.001]"
>
  <div class="px-4 py-2 border-2 border-[#dfe6e9] text-xs">
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
  </div>
</section>
