---
import { SITE_TITLE } from "@/consts";

const today = new Date();
---

<section
  id="footer"
  class="w-full md:relative md:static relative bottom-0 inset-x-0 md:inset-auto
       text-center py-3 md:py-4 z-30"
>
  <div class="mx-auto max-w-[960px]">
    <div class="px-2 py-1 border-2 border-[#dfe6e9] text-xs inline-block">
      &copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.
    </div>
  </div>
</section>
