---
import { Image } from "astro:assets";
import { QUOTE, SITE_TITLE } from "@/consts";
---

<div
  class="fixed top-0 -z-10 !w-screen md:block h-screen bg-cover bg-center tracking-wide"
  style="background-image: url('/surpgio_background.png');"
></div>
<section
  class="flex-1 !z-[20] relative w-full flex flex-col items-center justify-center min-h-[540px] min-h-[60vh] pt-4 pb-2 overflow-y-auto"
  id="hero"
>
  <div
    class="rounded shadow-lg flex items-center justify-center w-full max-w-[960px] aspect-video"
    style="background:#000;"
  >
    <span class="text-3xl font-bold text-[#dfe6e9]">Coming Soon...</span>
  </div>
</section>

