---
import { Image } from "astro:assets";
import { QUOTE, SITE_TITLE } from "@/consts";
---

<div
  class="fixed top-0 -z-10 !w-screen md:block h-screen bg-cover bg-center tracking-wide"
  style="background-image: url('/surpgio_background.png');"
></div>
<section
  class="h-screen !z-[20] relative w-full flex items-start justify-center pt-12"
  id="hero"
>
  <div
    class="rounded shadow-lg flex items-center justify-center"
    style="width:960px; height:540px; background:#000;"
  >
    <span class="text-3xl font-bold text-[#dfe6e9]">Coming Soon...</span>
  </div>
</section>

