---
import { Image } from "astro:assets";
import { QUOTE, SITE_TITLE } from "@/consts";
---

<div
  class="fixed top-0 -z-10 !w-screen md:block h-screen bg-cover bg-center tracking-wide"
  style="background-image: url('/surpgio_background.png');"
></div>
<section
  class="h-screen !z-[20] relative w-full flex items-start justify-center pt-20"
  id="hero"
>
  <div class="flex flex-col items-center">
    <iframe
      src="https://www.youtube.com/embed/akuQvLqFPTY?si=0Nzg12rR4hCQLtAq"
      width="800"
      height="450"
      allowfullscreen
      class="rounded shadow-lg"
      style="border:none;"
    ></iframe>
    <div class="mt-8 text-center text-xl font-semibold max-w-xl flicker-blue">
       Hope you’re thirsty for chaos. Sexy Unique RPG is coming soon.
    </div>
  </div>
</section>

