---
import { Image } from "astro:assets";
import { QUOTE, SITE_TITLE } from "@/consts";
---

<div
  class="fixed top-0 -z-10 !w-screen md:block h-screen bg-cover bg-center tracking-wide"
  style="background-image: url('/surpgio_background.png');"
></div>
<section
  class="min-h-0 flex-1 !z-[20] relative w-full flex flex-col items-center  pt-10 pb-6 overflow-auto"
  id="hero"
>
  <div class="flex flex-col items-center w-full px-2 flex-1 justify-center">
    <div class="w-full max-w-[800px] aspect-video" style="max-height:50vh;">
      <iframe
        src="https://www.youtube.com/embed/HIAH8boVcRQ?si=tFgInv9EBBajvn7h"
        allowfullscreen
        class="rounded shadow-lg w-full h-full"
        style="border:none; max-height:50vh;"
      ></iframe>
    </div>
    <div class="mt-6 text-center text-xl font-semibold max-w-xl flicker-blue flex-shrink-0">
       Hope you’re thirsty for chaos.
    </div>
  </div>
</section>

